{
  "plugins": [
    "prettier-plugin-organize-imports"
  ],
  "singleQuote": true,
  "useTabs": true,
  "semi": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "printWidth": 160,
  "endOfLine": "auto",
  "organizeImportsSkipDestructiveCodeActions": false
}